{% extends 'store/main.html' %}
{% block title %}Inicio{% endblock title %}
{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

<!-- Hero Section -->
<div class="container" style="position: relative; z-index: 1;">

    <section class="text-center py-5 bg-dark text-light">
        <div class="container">
            <h2 class="store-name mb-3">ThingStore</h2>
            <h1 class="display-4 mb-3">Arte y Tecnología para tu Hogar</h1>
            <p class="lead mb-4">Decoración hecha a mano con precisión láser y diseño 3D. Explora productos únicos y descargables exclusivos.</p>
            <a href="{% url 'store' %}" class="btn btn-primary btn-lg btn-enter-store">Visita Nuestra Tienda</a>
        </div>
    </section>

    <!-- Características Destacadas -->
    <section class="py-5 bg-secondary text-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 mb-4">
                    <img src="{% static 'images/shield.svg' %}" alt="Calidad Artesanal" width="70" class="mb-3">
                    <h5>Calidad Artesanal</h5>
                    <p>Cada pieza es cuidadosamente elaborada a mano con atención al detalle.</p>
                </div>
                <div class="col-md-4 mb-4">
                    <img src="{% static 'images/network.svg' %}" alt="Tecnología Avanzada" width="70" class="mb-3">
                    <h5>Tecnología Avanzada</h5>
                    <p>Utilizamos corte láser e impresión 3D para diseños innovadores y precisos.</p>
                </div>
                <div class="col-md-4 mb-4">
                    <img src="{% static 'images/lock.svg' %}" alt="Productos Digitales" width="70" class="mb-3">
                    <h5>Productos Digitales</h5>
                    <p>Accede a diseños descargables para que puedas imprimir o cortar en casa.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección CTA -->
    <section class="py-5 bg-primary text-white text-center">
        <div class="container">
            <h2 class="mb-3">Inspira tu espacio con creatividad y tecnología</h2>
<!--            <a href="{% url 'store' %}" class="btn btn-light btn-lg btn-enter-store">Explorar Productos</a>-->
        </div>
    </section>

</div>

<script src="{% static 'js/home.js' %}"></script>

{% endblock content %}
