{% extends 'store/main.html' %}
{% block title %}Confirmación de Pedido{% endblock title %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element p-4 text-center">
                <h2>¡Gracias por tu compra!</h2>
                <p>DEBUG: guest_access_token: {{ guest_access_token }} - user.is_authenticated: {{ request.user.is_authenticated }}</p> {# LÍNEA DE DEBUG TEMPORAL #}
                <p>Tu pedido #{{ order.id }} ha sido procesado con éxito.</p>

                {% if digital_order_items %}
                    <hr>
                    <h4>Tus descargas digitales:</h4>
                    <p>Haz clic en los enlaces a continuación para descargar tus productos digitales:</p>
                    <ul>
                        {% for item in digital_order_items %}
                            <li>
                                {# Generar URL de descarga con guest_access_token si existe y no es usuario autenticado #}
                                {% if not request.user.is_authenticated and guest_access_token %}
                                    <a href="{% url 'download_file' item.download_token %}?guest_token={{ guest_access_token }}" class="btn btn-outline-info my-1">
                                {% else %}
                                    <a href="{% url 'download_file' item.download_token %}" class="btn btn-outline-info my-1">
                                {% endif %}
                                    <i class="fa fa-download"></i> {{ item.product.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <hr>
                <h4>Resumen del Pedido:</h4>
                <p>Total de artículos: {{ order.get_cart_items }}</p>
                <p>Total a pagar: € {{ order.get_cart_total|floatformat:2 }}</p>

                {% if order.shipping %}
                    <p>La información de envío ha sido registrada y tu pedido será enviado pronto.</p>
                {% endif %}

                <div class="row mt-4">
                    <div class="col text-center">
                        {# CAMBIO CLAVE: Generar URL de impresión con guest_access_token si existe y no es usuario autenticado #}
                        {% if not request.user.is_authenticated and guest_access_token %}
                            <a href="{% url 'order_print' order.id %}?guest_token={{ guest_access_token }}" target="_blank" class="btn btn-primary">
                        {% else %}
                            <a href="{% url 'order_print' order.id %}" target="_blank" class="btn btn-primary">
                        {% endif %}
                            <i class="fa fa-print"></i> Imprimir Pedido / Factura
                        </a>
                    </div>
                </div>

                <hr>
                <a href="{% url 'store' %}" class="btn btn-success mt-3">Continuar Comprando</a>
            </div>
        </div>
    </div>
{% endblock content %}